<a href="https://colab.research.google.com/github/teacher-jiejie/Lets-get-it-Python-Book-Code/blob/main/3%EC%9E%A5_%EB%B3%80%EC%88%98%20%3A%20%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%80%EC%9E%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3.1  데이터를 저장하는 공간: 변수
#### 3.1.1  변수란

In [ ]:
a = 10

In [ ]:
a = 10
print(a)

10

#### 3.1.2  변수에 값을 저장하고 사용하기

In [ ]:
a = 10
print('a')
print(a)

a
10

In [ ]:
print(가나다)

NameError: ignored

In [ ]:
b = '학생'
print(b)

학생

In [ ]:
b = '학생'
c = '고등'
print(b + c)

학생고등

In [ ]:
b = '학생'
c = '고등'
print(b + c)
c = '대'
print(c + b)

학생고등
대학생

In [ ]:
name = '유리'
height = 175.5
age = 21
hobby = 'programming'
print(name, height, age, hobby)

유리 175.5 21 programming

In [ ]:
name = '유리'
height = 175.5
age = 21
hobby = 'programming'
print(name, '키는', height, ', 나이는', age, ', 취미는', hobby, '입니다!')

유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!

In [ ]:
name = '유리'
height = 175.5
age = 21
hobby = 'programming'
print(name, '키는', height, ', 나이는', age, ', 취미는', hobby, '입니다!')

name = '제임스'
height = 186
age = 24
hobby = '요리하기'
print(name, '키는', height, ', 나이는', age, ', 취미는', hobby, '입니다!')

유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!
제임스 키는 186 , 나이는 24 , 취미는 요리하기 입니다!

In [ ]:
name = '유리'
height = 175.5
age = 21
hobby = 'programming'
print(name, '키는', height, ', 나이는', age, ', 취미는', hobby, '입니다!')
print('{} 키는 {}, 나이는 {}, 취미는 {}입니다.'.format(name, height, age, hobby))

유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!
유리 키는 175.5, 나이는 21, 취미는 programming입니다.

In [ ]:
p = 3.141592
r = 5
print('원의 넓이 =', p * r ** 2)

원의 넓이 = 78.5398

In [ ]:
p = 3.141592
r = 5
result = p * r ** 2
print('원의 넓이 =', result)

원의 넓이 = 78.5398

#### 3.1.3  변수를 사용하는 이유

In [ ]:
p = 3.141592
r = 5

# 원의 넓이
result1 = p * r ** 2
print('원의 넓이 =', result1)

# 원의 둘레
result2 = 2 * p * r
print('원의 둘레 =', result2)

# 구의 겉넓이
result3 = 4 * p * r **2
print('구의 겉넓이 =', result3)

원의 넓이 = 78.5398
원의 둘레 = 31.41592
구의 겉넓이 = 314.1592

In [ ]:
p = 3.141592
r = input('반지름은? ')

#원의 넓이
result1 = p * r ** 2

#원의 둘레
result2 = 2 * p * r

#구의 넓이
result3 = 4 * p * r ** 2

print('원의 넓이 =',result1,'원의 둘레 =',result2,'구의 겉넓이 =',result3)

반지름은? 999

TypeError: ignored

In [ ]:
p = 3.141592
r = int(input('반지름은? '))

#원의 넓이
result1 = p * r ** 2

#원의 둘레
result2 = 2 * p * r

#구의 넓이
result3 = 4 * p * r ** 2

print('원의 넓이 =',result1,'원의 둘레 =',result2,'구의 겉넓이 =',result3)

반지름은? 999
원의 넓이 = 3135311.9575920003 원의 둘레 = 6276.900816 구의 겉넓이 = 12541247.830368001

#### 3.1.4  변수를 사용할 때 유의할 점

In [ ]:
p = 3.141592
r = int(input('반지름은? '))

c_area = p * r ** 2
c_len = 2 * p * r
s_area = 4 * p * r

print('원의 넓이 =', c_area, '원의 둘레', c_len, '구의 겉넓이 =', s_area)

반지름은? 999
원의 넓이 = 3135311.9575920003 원의 둘레 6276.900816 구의 겉넓이 = 12553.801632

#### 3.1.5  변수를 사용해 간단한 프로그램 만들기 1

In [ ]:
# 1. 자기소개 프로그램
name = input('이름 : ')
age = input('나이 : ')
feature = input('특징 : ')

print(name + '(' + age + ')', feature)
print(feature + '인', name)

이름 : 고라니
나이 : 4
특징 : 애교가 많은 편
고라니(4) 애교가 많은 편
애교가 많은 편인 고라니

In [ ]:
# 2. 농구선수의 키
year = 2017
height = 175
print(year, '년 -', height, 'cm')

2017 년 - 175 cm

In [ ]:
year = 2017
height = 175
print(year, '년 -', height, 'cm')

year = year + 1
height = height + 1
print(year, '년 -', height, 'cm')

2017 년 - 175 cm
2018 년 - 176 cm

In [ ]:
year = 2017
height = 175
print(year, '년 -', height, 'cm')

year = year + 1
height = height + 1
print(year, '년 -', height, 'cm')

year = year + 1
height = height + 1
print(year, '년 -', height, 'cm')

year = year + 1
height = height + 1
print(year, '년 -', height, 'cm')

2017 년 - 175 cm
2018 년 - 176 cm
2019 년 - 177 cm
2020 년 - 178 cm

In [ ]:
year = 2017
height = 175
print(year, '년 -', height, 'cm')

year += 1
height += 10
print(year, '년 -', height, 'cm')

year += 1
height += 10
print(year, '년 -', height, 'cm')

year += 1
height += 10
print(year, '년 -', height, 'cm')

2017 년 - 175 cm
2018 년 - 185 cm
2019 년 - 195 cm
2020 년 - 205 cm

## 3.2  변수에 저장되는 데이터의 유형: 데이터 타입
#### 3.2.1  데이터 타입이란

In [ ]:
year = 2016
print(type(year))

<class 'int'>

In [ ]:
height = 175.5
print(type(height))

<class 'float'>

In [ ]:
name = '제임스'
print(type(name))

<class 'str'>

#### 3.2.2  초보자가 겪는 흔한 오류

In [ ]:
a = input()
print(type(a))

안녕하세요
<class 'str'>

In [ ]:
a = input()
print(type(a))

999
<class 'str'>

#### 3.2.3  데이터 타입 바꾸기

In [ ]:
score = 79
print(type(score), score)

#실수형으로 데이터타입 바꾸기
score = float( score )
print(type(score), score)

<class 'int'> 79
<class 'float'> 79.0

In [ ]:
avg = 84.9
print(type(avg), avg)

#정수형으로 데이터타입 바꾸기
avg = int( avg )
print(type(avg), avg)

<class 'float'> 84.9
<class 'int'> 84

In [ ]:
x = 32
y = 32.9

x = str(x)
y = str(y)

print(type(x), type(y))
print(x+y)

<class 'str'> <class 'str'>
3232.9

In [ ]:
a = '30'
print(type(a))

a = int(a)
print(type(a), a * 3)

<class 'str'>
<class 'int'> 90

In [ ]:
a = '제임스'
print(type(a))

a = int(a)
print(type(a), a*3)

<class 'str'>

ValueError: ignored

#### 3.2.4  변수를 사용해 간단한 프로그램 만들기 2

In [ ]:
# 1번. 마트에서 과자, 라면, 햄 구매하기
s_cnt = int(input('과자 몇 개를 구매하시겠습니까? '))
r_cnt = int(input('라면 몇 개를 구매하시겠습니까? '))
h_cnt = int(input('햄 몇 개를 구매하시겠습니까? '))

price = 1200*s_cnt + 800*r_cnt + 2400*h_cnt
print('총 금액 :', price)

과자 몇 개를 구매하시겠습니까? 3
라면 몇 개를 구매하시겠습니까? 5
햄 몇 개를 구매하시겠습니까? 2
총 금액 : 12400

In [ ]:
# 2번. 마트에서 25% 할인 행사
s_cnt = int(input('과자 몇 개를 구매하시겠습니까? '))
r_cnt = int(input('라면 몇 개를 구매하시겠습니까? '))
h_cnt = int(input('햄 몇 개를 구매하시겠습니까? '))

price = 1200*s_cnt + 800*r_cnt + 2400*h_cnt
print('할인 전 금액 :', price, ', 할인 후 금액', price * 0.75)

과자 몇 개를 구매하시겠습니까? 3
라면 몇 개를 구매하시겠습니까? 5
햄 몇 개를 구매하시겠습니까? 2
할인 전 금액 : 12400 , 할인 후 금액 9300.0

In [ ]:
# 3. 정수 2개 입력받아 사칙연산
num1 = int(input('숫자1 입력 : '))
num2 = int(input('숫자2 입력 : '))

print('두 수를 더한 값 :', num1+num2)
print('두 수를 뺀 값 :', num1-num2)
print('두 수를 곱한 값 :', num1*num2)
print('두 수를 나눈 값 :', num1/num2)

숫자1 입력 : 12
숫자2 입력 : 4
두 수를 더한 값 : 16
두 수를 뺀 값 : 8
두 수를 곱한 값 : 48
두 수를 나눈 값 : 3.0

#### Self Check

In [ ]:
# 1번
me = input('당신은 누구입니까? ')
print('나는', me + '이다')

당신은 누구입니까? 전설
나는 전설이다

In [ ]:
# 2번
id = input('아이디 입력 : ')
name = input('이름 입력 : ')
print(name,'님! 회원가입을 환영합니다!')
print(id,'님에게 지금 즉시 사용가능한 쿠폰 5개 발급!')
print(id,'님에게만 적립금 2000원 추가 지급!')

아이디 입력 : yoori
이름 입력 : 유리
유리 님! 회원가입을 환영합니다!
yoori 님에게 지금 즉시 사용가능한 쿠폰 5개 발급!
yoori 님에게만 적립금 2000원 추가 지급!

In [ ]:
# 3번
x = input('단어 입력: ')
x = int(x)
print(x)

단어 입력: 파이썬

ValueError: ignored

In [ ]:
# 4번 - 정수형으로 변환하는 경우
kor = int(input('국어점수는? '))
mat = int(input('수학점수는? '))
eng = int(input('영어점수는? '))
score = kor*0.16 + mat*0.34 + eng*0.23
print('최종점수는',score,'입니다!')

국어점수는? 80
수학점수는? 60
영어점수는? 93
최종점수는 54.59 입니다!

In [ ]:
kor = float(input('국어점수는? '))
mat = float(input('수학점수는? '))
eng = float(input('영어점수는? '))
score = kor*0.16 + mat*0.34 + eng*0.23
print('최종점수는',score,'입니다!')

국어점수는? 80
수학점수는? 60
영어점수는? 93
최종점수는 54.59 입니다!