<a href="https://colab.research.google.com/github/teacher-jiejie/Lets-get-it-Python-Book-Code/blob/main/6%EC%9E%A5_%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%3A%20%EC%97%AC%EB%9F%AC_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%A5%BC_%ED%95%9C_%EB%B2%88%EC%97%90_%EB%AC%B6%EC%96%B4_%ED%91%9C%ED%98%84%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 6.1  여러 데이터 한 번에 묶기
#### 6.1.1  리스트란

In [ ]:
spending = [25, 36, 8, 53, 24, 56]

In [ ]:
abc = [1, 2, 3, 4, 5]
print(abc)

[1, 2, 3, 4, 5]

In [ ]:
abc = [1, 2, 3, 4, 5]
print(type(abc))

<class 'list'>

In [ ]:
# 일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(type(spending_year), spending_year)

# 상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(type(spending_6mon), spending_6mon)

<class 'list'> [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
<class 'list'> [25, 36, 8, 53, 24, 56]

In [ ]:
# 일년 지출
spending_year = [25, 36, 8, 53, 24, 56, 38, 79, 94, 20, 40, 25]
print(len(spending_year))

# 상반기 지출
spending_6mon = [25, 36, 8, 53, 24, 56]
print(len(spending_6mon))

12
6

In [ ]:
# 가장 좋아하는 음식을 순서대로 저장한 리스트
food = ['피자','치킨','떡볶이','스테이크','딸기','파스타']
print(food)

['피자', '치킨', '떡볶이', '스테이크', '딸기', '파스타']

In [ ]:
# 가장 좋아하는 음식을 순서대로 저장한 리스트
food = ['피자','치킨','떡볶이','스테이크','딸기','파스타']
print('좋아하는 음식 개수 :', len(food))
print('좋아하는 음식 순위 :', food)

좋아하는 음식 개수 : 6
좋아하는 음식 순위 : ['피자', '치킨', '떡볶이', '스테이크', '딸기', '파스타']

#### 6.1.2  리스트 사용하기

In [ ]:
spending = [25, 36, 8, 53, 24, 56]
print(spending[0])

25

In [ ]:
print(spending[3])

53

In [ ]:
print(spending[6])

IndexError: ignored

In [ ]:
print('3월 지출 변경 전:', spending)
spending[2] += 10
print('3월 지출 변경 후:', spending)

3월 지출 변경 전: [25, 36, 8, 53, 24, 56]
3월 지출 변경 후: [25, 36, 18, 53, 24, 56]

In [ ]:
spending[4] -= 2
print('5월 지출 변경 후:', spending)

5월 지출 변경 후: [25, 36, 18, 53, 22, 56]

#### 6.1.3  반복문으로 리스트 다루기

In [ ]:
for i in [25, 36, 8, 53, 24, 56] : 
    print(i)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]

for s in spending : 
    print(s)

25
36
8
53
24
56

In [ ]:
spending = [25, 36, 8, 53, 24, 56]

for i in range(6) : 
    print(spending[i])

25
36
8
53
24
56

In [ ]:
for i in range(6) : 
    print(i+1,'월 지출은',spending[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56

In [ ]:
for i in range(6) : 
    print(i,'월 지출은',spending[i])

0 월 지출은 25
1 월 지출은 36
2 월 지출은 8
3 월 지출은 53
4 월 지출은 24
5 월 지출은 56

In [ ]:
for i in range(7) : 
    print(i+1,'월 지출은',spending[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56

IndexError: ignored

In [ ]:
for i in range(len(spending)) : 
    print(i+1,'월 지출은',spending[i], end=', ')

1 월 지출은 25, 2 월 지출은 36, 3 월 지출은 8, 4 월 지출은 53, 5 월 지출은 24, 6 월 지출은 56,

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

# 가장 좋아하는 음식은? 
print(food[0])

# 세 번째로 좋아하는 음식은?
print(food[2])

# 가장 안 좋아하는 음식은? 
print(food[4])

피자
떡볶이
파스타

In [ ]:
# 가장 덜 좋아하는 음식?
print(food[len(food) -1])

파스타

In [ ]:
# 가장 덜 좋아하는 음식?
print(food[-1])

파스타

In [ ]:
# 두번째로 덜 좋아하는 음식?
print(food[-2])

# 세번째로 덜 좋아하는 음식?
print(food[-3])

스테이크
떡볶이

#### 6.1.4  리스트에 데이터 추가하고 삭제하기

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
food.append('감자칩')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [ ]:
food.append('카레')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩', '카레']

In [ ]:
abc = []
abc.append(24)
abc.append(38)
abc.append(19)
abc.append(40)
print(abc)

[24, 38, 19, 40]

In [ ]:
to_do = []

task = input('해야할 일을 입력해주세요 -->')
to_do.append(task)
print(to_do)

해야할 일을 입력해주세요 -->파이썬 공부하기
['파이썬 공부하기']

In [ ]:
to_do = []

to_do.append(input('해야할 일을 입력해주세요 -->'))
print(to_do)

해야할 일을 입력해주세요 -->파이썬 공부하기
['파이썬 공부하기']

In [ ]:
to_do = []
print('해야할 일을 차례대로 입력해주세요.')

for i in range(5) : 
    to_do.append(input())

print(to_do)

해야할 일을 차례대로 입력해주세요.
생일선물 사기
인강 듣기
파이썬 6장 공부하기
책 읽기
영단어 외우기
['생일선물 사기', '인강 듣기', '파이썬 6장 공부하기', '책 읽기', '영단어 외우기']

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
food.remove('떡볶이')
print(food)

['피자', '치킨', '스테이크', '파스타']

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
del food[-1]
print(food)

['피자', '치킨', '떡볶이', '스테이크']

#### 6.1.5  리스트에서 필요한 데이터만 꺼내기

In [ ]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

print(food[0:3])

['피자', '치킨', '떡볶이']

In [ ]:
print(food[2:4])

['떡볶이', '스테이크']

In [ ]:
print(food[:3])

['피자', '치킨', '떡볶이']

In [ ]:
print(food[-2:])

['스테이크', '파스타']

In [ ]:
spend_6mon =[25, 36, 8, 53, 24, 56]

print('1월부터 3월 지출액 :',spend_6mon[:3])
print('3월부터 5월 지출액 :',spend_6mon[2:5])
print('5월부터 6월 지출액 :',spend_6mon[-2:])

1월부터 3월 지출액 : [25, 36, 8]
3월부터 5월 지출액 : [8, 53, 24]
5월부터 6월 지출액 : [24, 56]

In [ ]:
# 문자열 슬라이싱
a = '나는야 우주최강'
print(a[:3])

나는야

In [ ]:
print(a[-4:])

우주최강

In [ ]:
print(a[-4:-2])

우주

In [ ]:
date = '2021-04-15'

print('연도 :',date[:4])
print('월 :',date[5:7])
print('일 :',date[-2:])

연도 : 2021
월 : 04
일 : 15

In [ ]:
a = '나는야 우주최강'
print(a.split())

['나는야', '우주최강']

In [ ]:
# 공백을 기준으로 split
a = '나는야 우주최강'
print(a.split())
print(a.split()[0])
print(a.split()[1])

['나는야', '우주최강']
나는야
우주최강

In [ ]:
# -(하이픈)을 기준으로 split
date = '2021-04-15'
print(date.split('-'))

['2021', '04', '15']

In [ ]:
date = '2021-04-15'
print(date.split('-')[0])
print(date.split('-')[1])
print(date.split('-')[2])

2021
04
15

#### 6.1.6  다양한 리스트 명령어 사용하기

In [ ]:
# 리스트 원소 정렬하기
food =['피자', '치킨', '스테이크', '된장찌개','바나나', '파스타', '감자칩']

food.sort()
print('정렬 후 : ',food)

정렬 후 :  ['감자칩', '된장찌개', '바나나', '스테이크', '치킨', '파스타', '피자']

In [ ]:
# 리스트 원소 내림차순(역순)으로 정렬하기
food =['피자', '치킨', '스테이크', '된장찌개','바나나', '파스타', '감자칩']

food.sort(reverse=True)
print('정렬 후 : ',food)

정렬 후 :  ['피자', '파스타', '치킨', '스테이크', '바나나', '된장찌개', '감자칩']

In [ ]:
spending_6mon =[25, 36, 8, 53, 24, 56]

spending_6mon.sort(reverse=True)
print(spending_6mon[0:2])

[56, 53]

In [ ]:
spending_6mon =[25, 36, 8, 53, 24, 56]

spending_6mon.sort(reverse=True)
print(spending_6mon[-2:])

[24, 8]

In [ ]:
# 리스트 원소 중 최대값, 최소값 찾기
spending_6mon =[25, 36, 8, 53, 24, 56]
print(max(spending_6mon), min(spending_6mon))

56 8

In [ ]:
# 리스트 원소 합 구하기
print(sum(spending_6mon))

202

In [ ]:
# 원소의 인덱스 찾기
print(spending_6mon.index(24))

4

## 6.2  제어구조로 리스트 다루기
#### 6.2.1  조건문으로 리스트 다루기

In [ ]:
food =['피자', '치킨', '스테이크', '된장찌개']
search = input('찾는 음식은? ')

if search in food : 
    print(food.index(search)+1,'위입니다.')
else : 
    print(search,'은/는 순위에 없습니다')

찾는 음식은? 치킨
2 위입니다.

In [ ]:
history = ['먹방','강아지','요리','댄스']

if '강아지' in history : 
    print('강아지를 좋아하시면 고양이 영상도 추천합니다!')
if '댄스' in history : 
    print('댄스를 좋아하시면 음악방송 영상도 추천합니다!')

강아지를 좋아하시면 고양이 영상도 추천합니다!
댄스를 좋아하시면 음악방송 영상도 추천합니다!

In [ ]:
history = []

# 새로운 종류의 영상 시청
for i in range(5) : 
    history.append(input('시청한 영상은? '))
print('지금까지 시청하신 주제는',history)

if '다이어트' in history: 
    print('홈트레이닝 영상도 좋아하실 것 같아요!')
if '뉴스' in history : 
    print('뉴스를 좋아하시면 속보 영상도 추천합니다!')

시청한 영상은? 뉴스
시청한 영상은? 가성비 맛집
시청한 영상은? 다이어트
시청한 영상은? 마스크 사용법
시청한 영상은? 스마트폰 후기
지금까지 시청하신 주제는 ['뉴스', '가성비 맛집', '다이어트', '마스크 사용법', '스마트폰 후기']
홈트레이닝 영상도 좋아하실 것 같아요!
뉴스를 좋아하시면 속보 영상도 추천합니다!

#### 6.2.2  중첩 제어구조로 리스트 다루기

In [ ]:
import random

# 초기 상태 표로 보여주기
score = []
for i in range(25) : 
    score.append(random.randint(0,100))
    print(score)

[31]
[31, 28]
[31, 28, 70]
[31, 28, 70, 74]
[31, 28, 70, 74, 77]
[31, 28, 70, 74, 77, 96]
[31, 28, 70, 74, 77, 96, 51]
[31, 28, 70, 74, 77, 96, 51, 3]
[31, 28, 70, 74, 77, 96, 51, 3, 6]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55, 81]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55, 81, 34]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55, 81, 34, 63]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55, 81, 34, 63, 51]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55, 81, 34, 63, 51, 93]
[31, 28, 70, 74, 77, 96, 51, 3, 6, 35, 88, 91, 96, 46, 78, 54, 60, 74, 55, 81, 34, 63, 51, 93, 1]

In [ ]:
import random

score = []
for i in range(25) : 
    score.append(random.randint(0,100))
print(score)

print('리스트를 사용해 70점 이상인 점수 출력하기')
for s in score : 
    if s > 70 :
        print(score.index(s) + 1, '번', s)
        
print('인덱스를 사용해 70점 이상인 점수 출력하기')
for i in range(25) : 
    if score[i] > 70 : 
        print(i+1,'번', score[i])

[42, 72, 12, 70, 0, 35, 13, 26, 22, 83, 79, 16, 1, 45, 81, 62, 39, 78, 18, 42, 15, 86, 45, 92, 68]
리스트를 사용해 70점 이상인 점수 출력하기
2 번 72
10 번 83
11 번 79
15 번 81
18 번 78
22 번 86
24 번 92
인덱스를 사용해 70점 이상인 점수 출력하기
2 번 72
10 번 83
11 번 79
15 번 81
18 번 78
22 번 86
24 번 92

#### 6.2.3  리스트로 간단한 프로그램 만들기

In [ ]:
line2 = ['성수','뚝섬','한양대', '왕십리' , '상왕십리', '신당', '동대문역사문화공원', 
         '을지로4가', '을지로3가', '을지로입구', '시청', '충정로', '아현', '이대', 
         '신촌', '홍대입구', '합정', '당산', '영등포구청', '문래', '신도림', '대림', 
         '구로디지털단지', '신대방', '신림', '봉천', '서울대입구', '낙성대', '사당', 
         '방배', '서초', '교대', '강남', '역삼', '선릉', '삼성', '종합운동장', 
         '잠실새내', '잠실', '잠실나루', '강변', '구의', '건대입구']
print(len(line2))

43

In [ ]:
print('지하철~ '*4)

# 10번 반복된다고 가정
for i in range(10) : 
    station = input()
    if station not in line2 :
        print('땡! 해당 역은 2호선이 아닙니다!')
        break

지하철~ 지하철~ 지하철~ 지하철~
강남
합정
역삼
낙성대
홍대
땡! 해당 역은 2호선이 아닙니다!

In [ ]:
# 1분퀴즈 3
import random

score = []
A = []
B = []
C = []

for i in range(30) : 
    score.append(random.randint(0, 100))

for i in range(len(score)) : 
    if score[i] > 80 : 
        A.append(score[i])
    elif score[i] > 40 : 
        B.append(score[i])
    else : 
        C.append(score[i])

## 6.3  여러 개의 리스트 묶기
#### 6.3.1  이차원 리스트란

In [ ]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc[0][1])
print(abc[1][2])

2
6

In [ ]:
for row in abc : 
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for row in abc : 
    print(row[0])

1
4
7

In [ ]:
for row in abc : 
    print(row[-1])

3
6
9

In [ ]:
print(abc[0])
print(abc[1])
print(abc[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

#### 6.3.3  이차원 리스트로 간단한 프로그램 만들기

In [ ]:
card = [['2020.03.04 18:56','주식회사 카카오페이',1000],
        ['2020.03.03 14:54','네이버페이',51100],
        ['2020.03.02 12:13','스타벅스코리아',10000],
        ['2020.03.01 15:49','11번가',27500],
        ['2020.02.26 11:40','주식회사 카카오페이',32500],
        ['2020.02.26 11:38','주식회사 카카오페이',32500],
        ['2020.02.22 15:00','G마켓',81500],
        ['2020.02.22 15:15','네이버페이',131000]]

In [ ]:
print(card[0])
print(card[3])

['2020.03.04 18:56', '주식회사 카카오페이', 1000]
['2020.03.01 15:49', '11번가', 27500]

In [ ]:
print(card[0][1])
print(card[3][1])

주식회사 카카오페이
11번가

In [ ]:
print(card[-1][1], card[-1][-1])

네이버페이 131000

In [ ]:
olympic =[[1,'미국',46,37,38,121],
          [2,'영국',27,23,17,67],
          [3,'중국',26,18,26,70],
          [4,'러시아',19,18,19,56],
          [5,'독일',17,10,15,42],
          [6,'일본',12,8,21,41],
          [7,'프랑스',10,18,14,42],
          [8,'대한민국',9,3,9,21]]

In [ ]:
print(olympic[0][1],'금메달 개수 :',olympic[0][2])
print(olympic[4][1],'금메달 개수 :',olympic[4][2])

미국 금메달 개수 : 46
독일 금메달 개수 : 17

In [ ]:
print(olympic[:4])
print(olympic[:4][1])

[[1, '미국', 46, 37, 38, 121], [2, '영국', 27, 23, 17, 67], [3, '중국', 26, 18, 26, 70], [4, '러시아', 19, 18, 19, 56]]
[2, '영국', 27, 23, 17, 67]

In [ ]:
for row in olympic : 
    print(row[:2])

[1, '미국']
[2, '영국']
[3, '중국']
[4, '러시아']
[5, '독일']
[6, '일본']
[7, '프랑스']
[8, '대한민국']

In [ ]:
print('금메달보다 은메달이 더 많은 나라')
for row in olympic : 
    if row[2] < row[3] : 
        print(row[1])

금메달보다 은메달이 더 많은 나라
프랑스

In [ ]:
print('금메달보다 동메달이 더 많은 나라')
for row in olympic : 
    if row[2] < row[4] : 
        print(row[1])

금메달보다 동메달이 더 많은 나라
일본
프랑스

In [ ]:
total_gold =0
for row in olympic : 
    total_gold += row[2]
print(total_gold)

166

In [ ]:
# 총 메달 중 금메달이 차지하는 비율이 40%가 넘는 나라
for row in olympic : 
    gold = row[2]/row[-1] *100
    if gold > 40 : 
        print(row[1], gold,'%')

영국 40.298507462686565 %
독일 40.476190476190474 %
대한민국 42.857142857142854 %